name: CD

on:
  push:
    branches: [ master ]
    paths:
      - '**.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/cd.yaml'
    tags:
      - "v*"
  pull_request:
    branches:
    - master

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            static.rust-lang.org:443
            index.crates.io:443
            static.crates.io:443

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }} && rustup component add clippy rustfmt

      - name: Build
        run: cargo build --verbose

      - name: Format
        run: cargo fmt --all --check --verbose --message-format=human

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test --no-fail-fast --verbose

      - name: Publish dry-run
        run: cargo publish --dry-run

  publish:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref_type == 'tag'

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit
          allowed-endpoints: >
            api.github.com:443
            release-assets.githubusercontent.com:443

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        run: rustup update stable && rustup default stable

      - name: Publish
        run: cargo publish --package dota-gsi --verbose
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
